# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.whl

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py

# If your project includes static files:
staticfiles/
media/

# If you use pytest:
.coverage
.cache

# Translations
*.mo
*.pot

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# VS Code workspace files
*.code-workspace

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# dotenv
.env
*.env
